doctype
html(lang="es")
  head
    title Ejemplos-Animation
    meta(charset="utf-8")
    link(rel="stylesheet", href="app.css")
    script(type="text/javascript" src="funciones.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js")
    
  body(ng-app="myApp")
  .uno
    .dentro.centro 

  
