.boton-lista {
  padding-top: 15px;
  position: fixed;
  right: 3%;
  bottom: 5%;
  width: 4.5%;
  height: 7%;
  border-radius: 50%;
  background-color: black;
  z-index: 10;
  text-align: center;
  font-size: 150%;
}

.cuadro-lista {
  -webkit-animation: mymove 0.5s;
  animation: mymove 0.5s;
  padding-top: 15px;
  position: fixed;
  right: 13%;
  bottom: 15%;
  width: 54.5%;
  height: 57%;
  background-color: black;
  z-index: 10;
  text-align: center;
  font-size: 150%;
}

@keyframes mymove {
  0% {
    right: 3%;
    bottom: 5%;
    width: 4.5%;
    height: 7%;
    border-radius: 50%;
  }
  50% {
    right: 53%;
    bottom: 55%;
    width: 4.5%;
    height: 7%;
    border-radius: 50%;
  }
  100% {
    right: 13%;
    bottom: 15%;
    width: 54.5%;
    height: 57%;
    border-radius: 0%;
  }
}

#icono:hover {
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -moz-transform: rotate(-720deg);
  -webkit-transform: rotate(-720deg);
  -o-transform: rotate(-720deg);
  -ms-transform: rotate(-720deg);
  transform: rotate(-720deg);
}

.todo-list {
  background-color: green;
  width: 20%;
  position: fixed;
  right: 10%;
  bottom: 8%;
}

.tamano-pequeno {
  width: 80%;
}
