$derecha: 3%;
$fondo: 5%;
$ancho: 4.5%;
$alto: 7%;
$variacion: 10;
$variacion2: 80;

.boton-lista{
		padding-top: 15px;
    position: fixed;
    right: $derecha;
    bottom: $fondo;
    width: $ancho;
    height:$alto;
    border-radius: 50%;
    background-color: black;
    z-index: 10;
    text-align: center;
    font-size: 150%;
}

.cuadro-lista{
  -webkit-animation: mymove 0.5s ;
  animation: mymove 0.5s;
	padding-top: 15px;
	position: fixed;
	right: $derecha +$variacion;
	bottom: $fondo;
	width: $ancho+($variacion2 - 10);
	height:$alto+$variacion2;
	border-radius: 20px;
	background-color: lighten(green, 50%);
	z-index: 10;
	text-align: center;
	font-size: 150%;
}

@keyframes mymove {
	0% {right: $derecha; bottom: $fondo ; width: 4.5%; height: 7%;
				border-radius: 50%;}

	50% {right: $derecha+50; bottom: $fondo+50 ; width: 4.5%; height: 7%;
							border-radius: 50%;}

	100% {right: $derecha + $variacion; bottom: $fondo;
			width: $ancho+($variacion2 - 10); height: $alto+$variacion2; border-radius: 20px;
			 background-color: lighten(green, 50%);}
}

#icono:hover{
		transition: all 1s ease-in-out;
		transform: rotate(-720deg);
}

#todo-list{
	display: none;
	background-color: green;
	width: 20%;
	position: fixed;
    right: 10%;
    bottom: 8%;


}

.tamano-pequeno{
	width: 80%;
}
